**/launchConfigurations
**/node_modules
**/.vscode
**/temp
**/public/logs/**
.idea
.project
/cc_summaries
keyValStore*
certificate.pem
chaincode.exe
app_state*
/utils/fc_wrangler/kvs
/config/api_creds_local_.json