extends ./template/layout.pug
	
	
block custom_header
	// --------------- Header -------------- //
	script(src='/js/websocket.js?v=' + bag.jshash)
	script(type='text/javascript').
		$(document).ready(function(){
			connect_to_server();
		});
		
		
block navpanel
	// --------------- Navigation Bar  -------------- //
	
	
block content
	// --------------- Main Stuff  -------------- //
			
	#contentPanel
		
		
block footer
