extends ./template/layout.pug
	
	
block custom_header
	// --------------- Header -------------- //
	script(src='/js/ui_building.js?v=' + bag.jshash)
	script(src='/js/websocket.js?v=' + bag.jshash)
	script(src='/js/startup.js?v=' + bag.jshash)
	script(src='/js/tx_story.js?v=' + bag.jshash)
	script(src='/js/ui_events.js?v=' + bag.jshash)
	script(src='/js/blockchain.js?v=' + bag.jshash)
	
	script(type='text/javascript').
		$(document).ready(function(){
		});
		
		
block navpanel
	// --------------- Navigation Bar  -------------- //
	include ./template/nav.pug
	
block content
	// --------------- Main Stuff  -------------- //
	#auditButton 
		span.fa.fa-search

	#contentPanel
		// --------------- Home Panel
		include ./panel_home.pug
		include ./panel_create.pug
		include ./panel_market.pug
		include ./panel_tx_story.pug
		
		
block footer
	include ./template/blockchain.pug