#createPanel(hidden).panel
	
	span.fa.fa-close#closeCreate

	h5.reg Register
	hr

	#innerWrap
		//span.createball
		
		form(action="/create" method="POST")#createform
			input(type="text" id="fips" name="fips" placeholder="County Name")
			br
			input(type="text" name="country" placeholder="Country" value="US" disabled="disabled")
			br
			input(type="text" name="county" placeholder="County" value="00000"  disabled="disabled")
			br
			input(type="text" name="sub-county" placeholder="N/A" value="N"  disabled="disabled")
			br
			input(type="text" name="parcel" placeholder="APN")
			br
			legend
			select(name="property-type")
				option(value="R" selected="selected") Real
				option(value="S") Stock
				option(value="T") Temp
			br
			input(type="text" name="sub" placeholder="SUB" value="N")
			hr
			h5.sreg
			hr
			button(type="button")#createMarbleButton
				span.fa.fa-plus-circle &nbsp;&nbsp;
				span Create
			
			