#importPanel(hidden).panel
	select(name="apiSource")
		option(value="bridge" selected="selected") Bridge API
		option(value="spark") Spark API
		option(value="mlsl") MLSL API
	select(name="apiField")
		option(value="StreetName" selected="selected") Street Name
		option(value="StreetNumber") House #
		option(value="ListingId") ID
	select(name="apiFunction")
		option(value="contains" selected="selected") Contains
		option(value="startswith") Stars With
	span.fa.fa-close#closeCreate
	input.longer(type="text" id="apiFilter" name="apiFilter" value="ash")
	span.fa.fa-search &nbsp;&nbsp;
	hr
	div.apiResultsWrap