#homePanel.panel
	div
		#ownerWrap(style="height:50px")
			div#toolbarWrap
				.topAlign
					input(type="text" placeholder="Search Listings" style="margin-left: 0; border-radius:2px;")#searchUsers.longer
					span.hint(style="margin-left: 10px;margin-right: 10px; font-size: 16px;") 
						span#foundUsers 0
						span /
						span#totalUsers 0
					<i class="fa fa-plus addListing"></i>
	div
		#allUserPanelsWrap
			#appStartingText Connecting To Server...
