#auditWrap
	#auditClose
		span.fa.fa-close
	#auditContentWrap
		.leftTxWrap
			#marbleIdWrap 
				h5#marbleId -
		div.txListingWrap
		div.txHistoryWrap
			.auditHint Click a Listing to Audit Its Transactions