#homePanel.panel
	div
		#ownerWrap(style="height:50px")
			div#toolbarWrap
				.topAlign
					select(name="query-type")
						option(value="uid" selected="selected") UPId
						option(value="sid") Source
						option(value="state.state_name") State Name										
						option(value="state.state_type") State Type						
					input(type="text" placeholder="Search Listings" style="margin-left: 0; border-radius:2px;")#searchUsers.longer
					span &nbsp;&nbsp;
					span Story&nbsp;
					button(type="button" disabled="disabled")#disableStoryMode Off
					span &nbsp;&nbsp;
					button(type="button")#enableStoryMode On
					
	div
		#allUserPanelsWrap
			#appStartingText Connecting To Server...
