#marketPanel(hidden).panel
	span.fa.fa-close#closeCreate
	h2.reg On Market
	hr
	#innerWrap
		form(action="/create" method="POST")#createform
			input(type="hidden" name="id" disabled="disabled")
			br
			input(type="text" name="sid" placeholder="Enter Listing ID")
			hr
			button(type="button")#saveMarbleButton
				span.fa.fa-plus-circle &nbsp;&nbsp;
				span Save