#homePanel.panel
	div
		#ownerWrap(style="height:50px")
			div#toolbarWrap
				.topAlign
					select(name="query-type")
						option(value="uid" selected="selected") UPId
						option(value="sid") Source
						option(value="state.state_name") State Name										
						option(value="state.state_type") State Type						
					input(type="text" placeholder="Search Listings" style="margin-right: 20px; border-radius:2px;")#searchUsers.longer
					span.floatRight.fa.fa-toggle-on(style="display:none;font-size:15px") &nbsp;Story On
					span.floatRight.fa.fa-toggle-off(style="font-size:15px") &nbsp;Story Off
	div
		#allUserPanelsWrap
			#appStartingText Connecting To Server...
